<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img [src]="card.carImg" [alt]="card.brand" class="img-responsive" style="max-width:300px">
    <img [src]="card.symbol" [alt]="card.symbol" class="img-responsive" style="max-width:300px">
    <h1 class="display-4">{{card.brand}}</h1>
    <p class="lead">{{card.flagship}}</p>
    <p class="lead">{{card.location}}</p>
    <p class="lead">{{card.revenue}}</p>
    <p class="lead">{{card.year}}</p>
    <p class="lead">{{card.parentOrg}}</p>
    <p class="lead">{{card.csnum}}</p>
    <p class="lead">{{card.description}}</p>
  </div>
</div>